[include]
	path = ~/.gitcredentials
[core]
	editor = codium --wait
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = codium --wait $MERGED
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = codium --wait --diff $LOCAL $REMOTE
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
